.card-dynamic1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 8px 16px;
    gap: 10px;
    
    width: 375px;
    height: 44px;
    
}

.dynamic-button1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 6px 0px 0px;
    gap: 8px;
    
    width: 105px;
    height: 24px;
    
}
.icono1{
    width: 24px;
    height: 24px;
    
}
.textDynamic1{
    width: 67px;
height: 24px;

/* body-16px strong */

font-family: 'PayPal Sans Big';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: -0.02em;

/* Primary/Blue 400 */

color: #1072EB;

}

