
.title-container{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 0px 8px 16px;
gap: 10px;

width: 375px;
height: 44px;
}
.title-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 6px 0px 0px;
    gap: 8px;
    
    width: 105px;
    height: 24px;
}
.title-badge{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 81px;
height: 24px;
}
.badge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 8px;
    
    position: static;
    display: none;
    width: 45px;
    height: 24px;
    left: 58px;
    top: 0px;
    
    /* Primary/Blue 100 */
    
    background: #D1F1FF;
    border-radius: 14px;
    
}
.title{
    font-family: 'PayPal Sans Big';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.02em;

/* Greys/Black */

color: #0C0C0D;
}
